@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="text-white"> About </h2>
<p class= "text-info"> Online banking system is specifically developed for internet banking for balance enquiry, 
    funds transfer to another account, change of profile information and account statement. 
    The traditional way of maintaining details of a user in a bank was to enter the details 
    and record them. Every time the user needs to perform some transaction they have to go to 
    bank and perform the necessary actions, which may not be so feasible all the time. Here, 
    we provide an automation for banking system through Internet. The aim is not only automation
    but also a better customer experience by providing a User Interface which is easily comprehendible 
    by any person,customer support (so that the users get responded to their queries immediately), 
    transparency (the users must know all the charges associated with the transaction).
</p>

