@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class= "text-white"> Contact Details </h2>
<p class= "text-info"> Email id: aparna@gmail.com</p>
<p class= "text-info"> phone no - 765545345</p>
<p class= "text-info"> Address - Jharkhand </p>

